<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carebase.carebasescanner">

    <application>
        <activity android:name=".ScanningActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
    </application>

</manifest>